@charset "UTF-8";
.company-main-nav {
  width: 100%;
  background: #ffffff;
  border: solid 1px #EDEDED;
  h2 {
    width: 100%;
    padding: 18px 0;
    font-size: 16px;
    text-align: center;
    border-bottom: solid 1px #E6E6E6;
  }
  ul {
    padding: 20px 0;
    li {
      .li-div {
        display: inline-block;
        width: 100px;
        padding: 20px 0;
        text-align: left;
        .rounded-circle {
          display: inline-block;
          vertical-align: middle;
          width: 10px;
          height: 10px;
          border: solid 1px #FF6500;
          border-radius: 50%;
        }
        a {
          vertical-align: middle;
          font-size: 14px;
          color: #1DB176;
          margin-left: 5px;
        }
      }
      &:hover {
        a {
          color: #FF6500;
        }
        .rounded-circle {
          background: #FBA36D;
        }
      }
    }
  }

}
.company {
  background: #ffffff;
  border-bottom: solid 1px #EDEDED;
  .company-name {
    border: solid 1px #EDEDED;
    padding: 25px 65px;
    img {
      margin-right: 25px;
    }
  }
  p {
    font-size: 14px;
    color: #a7a7a7;
    line-height: 23px;
  }
  .company-introduce {
    padding: 0 70px 180px 70px;
    text-indent: 28px;
    p {
      margin-top: 55px;
    }
  }
}