@import "_6.scss";

html{
  font-size: 10px;
}
body{
  min-width: 320px;
  margin: 0;
}
header{
  position: fixed;
  @include flex(center,center);
  @include box(100%,5rem);
  background: $bgcolor;
  z-index: 100;


  .header_one{
    display: flex;
    background: $bgcolor;
    border: 1px solid $bgcolor;
    border-radius: .6rem;
    @include box(14rem,3rem);


    #header_left{
      display: inline-block;
      width: 50%;
      background:rgb(85, 168, 179);
      font-size: 1.8rem;
      line-height: 3rem;
      border-radius: .6rem;
      text-align: center;
      color: $baise;
    }
    #header_right{
      display: inline-block;
      background: white;
      @include box(50%,3rem);
      border-radius: .6rem;
      border: white 1px solid;
      font-size: 1.8rem;
      line-height: 3rem;
      text-align: center;
      float: right;
      color:$bgcolor;

    }
  }

  .header_two{
    display: block;
    position: absolute;
    right: 2%;
    @include box(1rem,1rem);
    background: url("../img/two.png") no-repeat 0 0 / cover;
  }
  .main-top{
    position: fixed;
    top:5rem;
    border-bottom:1px solid #e1e5e7 ;
    width: 100%;
    /* height: 5rem;*/
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 1.6rem;
    z-index: 88;
    color: #999;

    .clearone{
      height: 5rem;
      line-height: 5rem;
      float: left;
      position: relative;
      &:hover .none1{
        display:block;
      }

      .none1 li a{
        display: block;
        text-decoration: none;
        width: 100%;
        text-align: center;
        color:#5fc0cd ;
        &:hover{
          color: #ccc;
        }
      }

    }

    .main-top-ul{
      padding-left: 0;
    }

    .main-top_center{
      display: block;
      /*width: 100%;*/
      border-right: 1px solid #e2e6e7;
      border-left:1px solid #e2e6e7 ;
    }

    .none1{
      display:none;
      padding-left: 0;
      border: 1px solid #ccc;
      position: absolute;
      width: 100%;
      background: white;
    }
    .none1 li{
      display: flex;
      white-space: nowrap;
      justify-content: center;
      margin: 0 auto;
    }

    .sanjiao{
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: .5rem .5rem 0 .5rem;
      border-color: #afbac0 transparent transparent transparent;
      top:2.1rem;
      line-height: 2rem;
      margin-left: .5rem;
    }
  }

}

main ul li,.main-top ul li{
  list-style: none;
  background: white;
  width: 33%;
}

main{
  position: relative;
  top:11rem;
  @include flex(space-between,center);
  @include box(100%,none);
  flex-direction: column;
  margin-bottom: 5rem;
  a{
    /* display: block;*/
    text-decoration: none;
    color: #999;
    width: 100%;
  }

  .img{
    display: inline-block;
    width: 30px;
    height: 25px;
    background: url("../img/two.png") -8px -107px;
    flex: 0 0 30px;
    transform: scale(0.6);/*定义 2D 缩放转换。*/
  }
  .centent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7rem;
    font-size: 1.4rem;
    color: #999;
    border-bottom: 1px solid #e1e5e7;
    .centent-left{
      width: 60%;
      .centent-left-top{
        display: flex;
        align-items:center;
        div{
          display: inline-block;
        }
      }
      .centent-left-center{
        padding-left: 2.5rem;
        color: #000;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        div{
          display: inline-block;
        }
      }
      .centent-left-buttom{
        display: flex;
        align-items:center;
        div{
          display: inline-block;
        }

        .img1{
          display: inline-block;
          width: 30px;
          height: 25px;
          background: url("../img/two.png") -8px -63px;
          flex: 0 0 30px;
          transform: scale(0.6);/*定义 2D 缩放转换。*/
        }
      }
    }
    .CententTextRight{
      display: flex;
      align-items:center;
      color: red;
      .img2{
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url("../img/two.png") -8px -216px;
        flex: 0 0 30px;
        transform: scale(0.5);/*定义 2D 缩放转换。*/
      }
    }
  }
}

footer{
  position: fixed;
  width: 100%;
  height: 5rem;
  background: white;
  bottom: 0;
  display: inline-flex;
  align-items:center;
  justify-content: center;
  background: #f8fafb;

  .footerone{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 70%;
    height: 5rem;
    a{
      text-decoration: none;
      color: $bgcolor;
    }
    .footerbox{
      text-align:center;
      color: $bgcolor;
      img{
        width: 100%;
      }
      .img11{

        @include box(3rem,3rem);
        background: url("../img/2.png") no-repeat 0 -12rem /cover;
        display: block;
      }
      .img13{
        @include box(3rem,3rem);
        display: block;
        background: url("../img/2.png") no-repeat 0 -16rem / cover;

      }
    }
  }

  .footerboxcenter{
    @include flex(center,center);
    @include box(5rem,5rem);

    border-radius: 50%;
    background:$bgcolor ;
    .img3{
      @include box(3rem,3rem);
      background: url("../img/2.png") no-repeat 0 -5.3rem /cover;

      transform: scale(1);/*定义 2D 缩放转换。*/
      display: block;
    }
  }

}

ul{
  margin-top: 0;

}

.centent1{
  top:14rem;
}
