html{
    font-size: 10px;

}

*{
    padding: 0;
    margin: 0;
}
body{
    min-width: 320px;
}
.hea{
    width: 100%;
    position: relative;
}
.top{
    display: flex;
    align-items: center;

    height: 3rem;

}
.top-left{
    padding-left: 9vw;
    display: flex;
    flex-wrap:nowrap ;
    color:#29b078 ;
}
.top-right{

    display: flex;
    justify-content: center;
}
.top-right div{
    margin:0 .2vw;
}
.hea-top-left{
    width: 2rem;
    height: 2rem;
    background: url("../img/hea-top.png") no-repeat ;
    background-position: 0rem,0rem;
    background-size: 420% 100%;


}
.hea-top-center{
    width: 2rem;
    height: 2rem;
    background: url("../img/hea-top.png") no-repeat ;
    background-position: -3.2rem,0rem;
    background-size: 420% 100%;


}
.hea-top-right{
    width: 2rem;
    height: 2rem;
    background: url("../img/hea-top.png") no-repeat ;
    background-position: -6.3rem,0rem;
    background-size: 420% 100%;
}

.hea .bottom{
    display: flex;
    align-items: center;
    height: 5rem;
    background: #29b078;
    z-index: 100;
}

.hea .bottom-one{
    display: flex;
    justify-content: center;
}

.navbar{
    margin-bottom: 0;
}
.nav-one{

    background: #29b078;

    width: 100%;
}
.collapse ul{


    line-height: 5rem;


}
.collapse ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-size: 2rem;

}
.nav-col{
    padding-right: 0;
    padding-left: 0;
}
.navbar-default .navbar-nav > li > a:hover{
    background: rgba(99,204,161,0.8);
    border-bottom: solid .3rem white;
    color: white;
}
.navbar-default .navbar-nav > li > a{
    height: 5rem;
    width: 100%;
    text-align: center;
    line-height: 5rem;
    padding: 0 2rem;
    color: white;
}


.a-first{
    background: rgba(99,204,161,0.8);
    border-bottom: solid .3rem white;
}
