
$bgcolor:#5ac0ce;
html{
  font-size: 10px;
}
body{

  min-width: 300px;
  max-width: 780px;
  margin: 0 auto;
  .bg{
    background: #eff0f4;
  }
}


header{
  background:$bgcolor ;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  span{
    color: white;
    font-size: 1.6rem;
  }

  .Header-a1{
    text-decoration: none;
    float: left;
    margin-left:2rem ;
    color: white;
    font-size: 1.4rem;
    &:hover{
      text-decoration: none;
      color:white;
    }
  }
  .Header-a2{
    text-decoration: none;
    float:right;
    margin-right: 2rem;
    color: white;
    font-size: 1.4rem;
    &:hover{
      text-decoration: none;
      color:white;
    }
  }
}


.input1{
  width: 100%;
  display: flex;
  align-items:center;
  background: white;
  margin-top:1rem;
  img {
    transform: scale(.5);
    margin-left: 3rem;
  }
  input{
    padding: .5rem 0 .5rem 1rem;
    border: none;
    border-left:2px solid #ccc;
    margin-left: 1rem;
    outline: none;
  }
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: $bgcolor;
  margin-top: 4rem ;
  text-align: center;
  a{
    display: block;
    line-height: 5rem;
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    width: 10rem;
    height: 5rem;
  }
}

.Div2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;

  .Div2-1{
    background: #ccc;
    border:none;
    height: 2px;
    width: 30%;
  }
  .Div2-2{
    font-size:1.2rem;
    color: #ccc;
  }

}
.Div4{
  display: flex;
  justify-content: space-between;
  a{
    text-decoration: none;
    color: #ccc;
    margin: 1rem;
  }
}

.Div3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 20%;
  .Div3-1{
    flex-direction: column;
    img{
      transform: scale(.7);
    }
    p{
      flex: 1;
      text-align: center;
    }
  }
}