/*初始化*/
html{
    font-size: 10px;
}
body{
    background: #fafafa;
}
*{
    padding: 0;
    margin: 0;
}

/**********顶部样式*****************/

.top{
    background: #fff;
}
.top-1{
    color: #29b078;
    font-size: 1.6rem;
    margin: .5rem 0;
}
.top-2{
    margin: .5rem 0;
    float: right;

}
/*使电话号码在屏幕缩小的时候隐藏 避免top图片下移一行*/
@media screen and (max-width:992px ){
    .top-left{
        display: none;
    }
}
header{
    background: #29b078;/*设置header的背景颜色*/
}
header .navbar{
    margin-bottom: 0;/*清除nav下外边距*/
}
header .navbar-default{
    border: none;/* 清除nav的边框*/
}
header .container-fluid{
    padding-left: 0; /*清除container-fluid的默认内边距使 ul宽度为100%*/
    padding-right: 0;
}

.head-nav{
    background: #29b078;/*设置导航的元素的背景颜色*/
    border: none;
}
header .navbar-default .navbar-nav>li>a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    color: white; /**设置a标签的默认样式**/
    padding-top: .3rem;
    padding-bottom: .3rem;
}
header .navbar-default .navbar-nav>li>a:hover{
    color: white;
    border-bottom: .3rem solid white; /**设置鼠标移动到a标签的样式*/
    background: none;
   padding-top: -.3rem;
    padding-bottom: 0;
}
/*设置首页标签的样式*/
.a-active{
    border-bottom: .3rem solid white;
}
/*清除bootstrap 第一个a标签的默认样式*/
header .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: white;
    background: none;
}

.navbar-default .navbar-toggle .icon-bar{
    background: #fff;!important;
}


.btn1{
    border: none;
    padding: 12px 10px;
    margin-bottom: 9px;

}
.navbar-default .btn1:hover,.navbar-default .btn1:focus{
    background: none;
}
.ImgOne{
    transform: scale(.8);
}
.nav-A{
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0;
}

/*清除container-fluid的默认样式*/
.lunbo{
    padding-right: 0;
    padding-left: 0;
}
.art1{
   margin-right: 0;
    margin-left: 0;
}
.art1-1{
    padding-right: 0;
    padding-left: 0;
}
/*设置a指标的位置*/
.carousel-control{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
.renmai img{
    transform: scale(0.6);
}
.art2{
    padding-top:5rem ;
}
.art2 p{
    font-size: 1rem;
    color: #999999;
}
.img1{
    padding: 7px 0;
}
.zaixian{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: dashed 1px #dedede;
}
.zaixian section{
    padding: 3.5rem 2.5rem;

}
.zaixian section img{
    vertical-align: baseline;
}

.art3-wrap{
    padding-bottom:2rem ;
}

.p1{
    text-align: center;
    font-size: 1.8rem;
    padding: 2rem 0;
}
.p2{
    width: 50%;
    color: #999999;
    font-size: 1.2rem;
}
.art3-1{
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    color: #29b078;
    border-radius: 50%;
    margin-right: 1rem;
    box-shadow:1px 1px 1px 1px #999;
}
.art3-box{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.art3-box-1{
    display: flex;
    align-items: center;
}
@media screen and (min-width:992px ){
    .img-none{
        display: none;
    }

}
@media screen and (max-width:992px ){
    .art3-box{
        margin: 2rem 0;
    }
    .art3-box-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .art3-wrap{
        padding-bottom: 0;
    }
    .art5-box{
        margin: 2rem 0;
    }
    .foot-box-1{
        float: left;
    }
    .zaixian{
        border-left:none;
    }

}

.art-box{
    background: white;
    text-align: center;
    box-shadow: 0  0 9px #999;
}
.art-box img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 1rem 0;

}
.p3{
    font-size: 1.2rem;
}
.p4{
    padding: 1.5rem;
    color: #999;
    font-size: 1.2rem;
}
.art4-1{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
.art4-1-1{
    width: 1rem;
    height: 1rem;
    background: white;
    border-radius: 50%;
    margin: 0 .3rem;
}
.art4-1-1:hover{
    background: #29b078;
}


/* ********************  定义网格为5个**************             */
@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
}

/********************定义网格10*******************************/
@media (min-width: 768px) {
    .col-sm-1-10 {
        width: 10%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-1-10 {
        width: 10%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-1-10 {
        width: 10%;
        float: left;
    }
}


.art5 img{
    transform: scale(0.8);
}
.art5-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 10rem;
}
.art5-box:hover{
    border: 1px solid #e2e2e2;
}

.art6 ul li{
    color: #999999;
}
.art6 ul li a{
    color: #999999;
}
.art6{
    background: white;
    margin-top: 5rem ;
}
.art6 ul li a:hover{
    border-bottom: 1px solid #26a26f;
    text-decoration: none;
}


footer{
    background: #26a26f;
    color: white;
}
footer ul li {
    display: inline-flex;
    padding: 0 .5rem;
}
footer ul li a{
    color: white;
}
.foot-one{
    border-left: solid 1px white;
    border-right: solid 1px white;
}
.a1{
    margin: 1rem 3rem 0  0;
    color: white;
}
.foot-box-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.p5{
    padding: 2rem 0 0 0;
}
.foot-two{
    width: 100%;
    height: auto;
    line-height: 2rem;
    text-align: center;
    border-top:solid 1px #32c086 ;
}