@charset "UTF-8";
/*=======================================reset======================================*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote, label {
  margin: 0;
}
ul, ol, li, dl, dd, a, button {
  margin: 0;
  padding: 0;
}
a, a:link, a:hover, a:active {
  text-decoration: none;
  cursor: pointer !important;
  color: #ffffff;
}
ul, ol {
  list-style: none;
}
a, button {
  cursor: pointer;
}
input, button {
  outline: none !important;
}