
$bgcolor:#5fc0cd;
$baise:white;


/* 定义flex布局  */
@mixin flex($x,$y){
  display: flex;
  justify-content: $x;
  align-items: $y;
}

/*定义宽高*/
@mixin box($x,$y){
  width: $x;
  height: $y;
}

@mixin fontsize($x){
  font-size: $x;
}

@mixin foot($a,$b){
  position: fixed;
  @include box(100%,5rem);
  @include flex($a,$b);
  bottom: 0;
  background: $baise;
}
