html{
  font-size: 10px;

}

header{
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding: 0 3%;
  border-bottom: solid 1px #74d4eb ;
  background: #29bde0;

  .div1{
    width: 2.5rem;
    height: 2.5rem;
    background: url("../img/home.png") no-repeat ;
    background-size: contain;
    cursor:pointer
  }
  .div2{
    width: 2.5rem;
    height: 2.5rem;
    background: url("../img/i.png");
    background-size: contain;
    border: solid 2px white;
    border-radius: 50%;
  }
  span{
    font-size: 1.8rem;
    color: white;
  }
}

main{
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 1rem;
  background:#29bde0;

  .div3{
    margin: 2rem auto;
    width: 20rem;
    height: 13rem;
    background:url("../img/header-one.png") no-repeat;
    background-size: contain;

  }
  .div4{
    padding: 0 10%;
    text-align: center;
    color:#ffc865;
    font-size: 1.6rem;
  }

  .div5{
    width: 19rem;
    margin: 2rem auto;
    span{
      color: white;
      font-size: 1.4rem;
    }
  }
}


.div6{

  padding-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #ccc;

  .div6-0{
    padding-bottom: 1rem;
  }

  .div6-1{
    padding-left: 5rem;
    font-size: 1.8rem;

  }
  .div6-2{
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;
    color: #ccc;

  }
  .div6-3{
    padding-left: 5rem;
    div{
      padding: 0;
      color: #ccc;
    }
  }



}

.div7{
  padding-bottom: 6rem;
}

footer{

  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  background: rgba(153,233,240,0.8);
  height: 5rem;
  width: 100%;


  .a1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 4rem;
    font-size: 1.8rem;
    background: #f66f6f;
  }
  .a2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 4rem;
    font-size: 1.8rem;
    background: #fbb435;
  }
}
